.home-container {
  text-align: center;
  margin-top: 2em;
}

.home-container h1 {
  margin-bottom: 0.5em;
}

.search-container {
  width: 100%;
}

.search-container form {
  position: relative;
  width: 30%;
  margin: 0 auto;
}

.search-container fa-icon {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search-container input {
  padding: 0.5em;
  width: 100%;
  text-align: center;
}
