* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #54768a;
}

a,
button,
path {
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #ff91c1;
}

/*Buttons - details-moment*/

.edit-btn,
.delete-btn {
  border: 1px solid #efefef;
  padding: 0.4em 1em;
  font-size: 1em;
  margin: 0 0.6em;
  cursor: pointer;
  background-color: #fff;
}

.edit-btn,
.edit-btn path {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path {
  color: #fff;
  background-color: #007bff;
}

.delete-btn,
.delete-btn path {
  border-color: #dc3545;
  color: #dc3545;
}

.delete-btn:hover,
.delete-btn:hover path {
  color: #fff;
  background-color: #dc3545;
}
